body {
    background: #1e71df;
    font: normal 15pt Times;
    color: white;
}

header {
    text-align: center;
}

section {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
}

.visualização {
    display: flex;
    justify-content: space-evenly;
}

.finalizar {
    position: relative;
    left: -180px;
}

div {
    padding: 8px;
}

select{
    width: 180px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

#resultado {
    text-align: left;
}

footer {
    text-align: center;
    font-style: italic;
}
